<div class="row">

  <!-- <div class="card-group"> -->
  <!-- <div class="card-block"> -->

  <!-- <div class="card col-lg-4 col-sm-6 col-xs-12" *ngFor="let product of products; index as productIndex;"> -->
  <div class="card col-lg-3 col-sm-6 col-md-4 mt-4" *ngFor="let product of products; index as productIndex;">
    <a href="product/{{ product.productIndex }}" class="h-100 w-100"> <!--individual product details page -->
      
      <!-- spinner to indicate loading og the image -->
      <div class="card-img-top" *ngIf="loading" class="loader">Loading...</div>
      <!-- <img class="card-img-top" 
           [hidden]="loading" (load)="onImageLoad()"
           src="{{ product.productimage||'assets/images/testProduct.png' }}" 
           (error)="setDefaultPic($event)" [alt]="product.name"> -->
      <img class="card-img-top"
           [hidden]="loading" (load)="onImageLoad()"
           [src]="getImageUrl(product.productimage)" 
           (error)="setDefaultPic($event)" [alt]="product.name">
    </a>
      <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <p class="card-text text-truncate">{{ product.description||'--' }}</p>
      </div>
    
    <div class="card-footer text-muted">
      <span class="float-left">{{ product.price||'--' }}</span>
      <a href="#" class="float-right">Add To Cart
        <i class="fa fa-cart-plus"></i>
      </a>
    </div>

  </div>
  <!-- </div> -->

</div>